<div class="flex min-h-[80px] bg-gray-100 mb-2 px-8 mx-12 relative rounded-2xl shadow-inner font-sans">
    <div class="absolute left-0 top-0 h-full w-2 bg-pink-700 rounded-l-xl"></div>
    <div class="flex w-full flex-row items-center justify-center">
        <mat-checkbox (change)="completeTask(task)" [checked]="task.completed" />

        <div class="ml-4 flex flex-col">
            <span class="text-lg uppercase font-bold">{{task.title}}</span>
            <span>{{task.description}}</span>
        </div>

        <div class="ml-auto transition-all">
            <button class="mr-4 hover:scale-110" mat-stroked-fab color="primary"
                aria-label="Example icon button with a delete icon" (click)="editTask(task)">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="hover:scale-110" mat-stroked-fab color="primary" aria-label="Example icon button with a delete icon"
                (click)="deleteTask(task)">
                <mat-icon class="text-red-700">delete</mat-icon>
            </button>
        </div>
    </div>
</div>